/*-----------------------------------------------------------------------------------------
------------------------------------------ GÉNÉRAL ----------------------------------------
-----------------------------------------------------------------------------------------*/

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: Helvetica, sans-serif;
    }

    .empty-cell {
min-height: 15px;
}

    .align{display: flex;}
    .align.bottom{align-items: end; align-content: end;}
    .align.right{justify-items: end; justify-content: end; text-align: right}
    .align.left{justify-items: start; justify-content: start;}
    .align.top{align-items: start; align-content: start;}
    .align.center{justify-items: center; justify-content: center; align-items: center; align-content: center;}
    
/*-----------------------------------------------------------------------------------------
------------------------------------------ GRILLE ----------------------------------------
-----------------------------------------------------------------------------------------*/

.grid-cell{
  width: 100%;
  height: 100%;
  background-color:  rgb(255,240,227);
  outline: 1px solid black;
  position:relative;
  padding: 1px;
}

.row01{grid-row: 1;}
.row02{grid-row: 2;}
.row03{grid-row: 3;}
.row04{grid-row: 4;}
.row05{grid-row: 5;}
.row06{grid-row: 6;}
.row07{grid-row: 7;}
.row08{grid-row: 8;}

.row0405{grid-row: 4/6;}

.col01{grid-column: 1;}
.col02{grid-column: 2;}
.col03{grid-column: 3;}
.col04{grid-column: 4;}
.col05{grid-column: 5;}
.col06{grid-column: 6;}
.col07{grid-column: 7;}
.col08{grid-column: 8;}
.col09{grid-column: 9;}
.col10{grid-column: 10;}
.col11{grid-column: 11;}
.col12{grid-column: 12;}
.col13{grid-column: 13;}
.col14{grid-column: 14;}
.col15{grid-column: 15;}

.col0206{grid-column: 2/7;}
.col0304{grid-column:3/5;}
.col0607{grid-column:6/8;}
.col0910{grid-column:9/11;}
.col1213{grid-column:12/14;}
.col0709{grid-column:07/10;}
.col0412{grid-column:04/13;}


/*---------------------------------------------------------------------------------------
------------------------------------------ TEXTE ----------------------------------------
---------------------------------------------------------------------------------------*/

a,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: rgb(75, 0, 255);
}

.grid-cell p {
  margin: 0;
  padding: 0;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}


.text-outside{
  font-size: 12px;
  line-height: 90%;
  padding: 2px;
  text-transform: uppercase;
  overflow: hidden;
}

.text-portfolio {
  font-size: 12px;
  line-height: 90%;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  display:flex;
  justify-content: center;
}

.text-link{
  font-size: 15px;
  line-height: 90%;
  padding: 0 2px;
  text-transform: uppercase;
  color: rgb(75, 0, 255);
}




/*---------------------------------------------------------------------------------------
------------------------------------------ TOAST ----------------------------------------
---------------------------------------------------------------------------------------*/

.toast {
  position: absolute;
  background: rgb(255,240,227);
  color: rgb(75,0,255);
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
  pointer-events: none;
  z-index: 3;
}

.toast.show {
  opacity: 1;
  visibility: visible;
}


