/*-----------------------------------------------------------------------------------------
------------------------------------------ GRILLE ----------------------------------------
-----------------------------------------------------------------------------------------*/

.desktop {
  display: grid;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: visible; 
  grid-template-columns:  
  1fr 1fr 5fr 5fr 1fr 5fr 5fr 1fr 5fr 5fr 1fr 5fr 5fr 1fr 1fr;
  grid-template-rows: 
  1fr 1fr 4.4fr 4.4fr 4.4fr 4.4fr 1fr 1fr;
  gap: 1px;
  background-color: black;
}

.cell-3h-split{
   display: grid;
   grid-template-columns: 3fr 5fr 3fr
}

/*---------------------------------------------------------------------------------------
------------------------------------------ TEXTE ----------------------------------------
---------------------------------------------------------------------------------------*/


.text-flip{
  font-size: 12px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.text-flip::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/*----------------------------------------------------------------------------------------
------------------------------------------ IMAGES ----------------------------------------
----------------------------------------------------------------------------------------*/

.portraits {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.portraits img {
  max-height: 90%;
  max-width: 90%;
  object-fit: contain;
}


/*---------------------------------------------------------------------------------------
------------------------------------------ FLIP ----------------------------------------
---------------------------------------------------------------------------------------*/

.flip-card {
  perspective: 750px; 
  position: relative;
  overflow: visible ;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.flip-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;  
  background-color: rgb(255,240,227);
  outline: 1px solid black;
}

.flip-card:hover .flip-inner {
  transform: rotateX(180deg);
}

.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 10;
}

.flip-front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-front img{
  max-width: 95%;
} 

/* BACK (rotated so it appears after flip) */
.flip-back {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr 5fr 1fr 5fr 5fr 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  transform: rotateX(180deg);
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

