/*-----------------------------------------------------------------------------------------
------------------------------------------ GRILLE ----------------------------------------
-----------------------------------------------------------------------------------------*/

.mobile {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100%;
  /*max-width: 375px;*/
  margin: 0 auto;
  background: black;
  overflow:hidden;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  gap: 1px;
  z-index: 2; 
}

/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  gap: 1px;
  z-index: 1; 
  overflow-y: auto;
  scrollbar-width: none;
 }

.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  gap: 1px;
  z-index: 2; 
}



.vertical-split02 {
  display: grid;
  grid-template-rows: auto auto;
  height: auto;
  align-content: center;
  justify-content: center;
}


.vertical-split03{
  display: grid;
  grid-template-rows: auto auto auto;
  height: auto;
}

.horizontal-split02{
  display: grid;
  grid-template-columns: auto 1fr;
  width: auto;
}


.col75175{
display: grid;
grid-template-columns: 7.5fr 1fr 7.5fr ;
height: auto;
}

.col111 {
  background: rgb(255, 240, 227);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.col111 > * {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.col111 img {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 50%;
  max-height: 100px;
  height: auto;
  display: block;
}


.col111 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.col111 > * {
  display: flex;
  justify-content: center;
  align-items: center;
}




/*---------------------------------------------------------------------------------------
------------------------------------------ TEXTE ----------------------------------------
---------------------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------------------
------------------------------------------ IMAGES ----------------------------------------
----------------------------------------------------------------------------------------*/

.image{
  display: block;
  width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: contain;
}


/*---------------------------------------------------------------------------------------
------------------------------------------ OTHER ----------------------------------------
---------------------------------------------------------------------------------------*/




.empty-cell {
min-height: 15px;
}


/* ----------FLIP---------- */







