/*-----------------------------------------------------------------------------------------
------------------------------------------ GRILLE ----------------------------------------
-----------------------------------------------------------------------------------------*/

.tablet {
  display: grid;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden; 
  grid-template-columns:  
  2fr 10fr 1fr 10fr 1fr 10fr 2fr;
  grid-template-rows: 
  1fr 1fr 4.4fr 8.8fr 4.4fr 1fr 1fr;
  gap: 1px;
  background-color: black;

}

.split-flip{
  display: grid;
  grid-template-columns: 10fr 1fr 21fr;
}


/*----------------------------------------------------------------------------------------
------------------------------------------ IMAGES ----------------------------------------
----------------------------------------------------------------------------------------*/

.portraits {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}

.portraits img {
  max-height: 75%;
  max-width: 75%;
  object-fit: contain;
  display: block;
  pointer-events: none;
}

.Photo {
  max-height:70%; 
  max-width: 70%;
  width: auto;
  object-fit: contain; 
  display: flex;
  align-self: center;
  justify-self: center;
}



/*---------------------------------------------------------------------------------------
------------------------------------------ FLIP ----------------------------------------
---------------------------------------------------------------------------------------*/

.flip-card {
  perspective: 750px; 
  position: relative;
  overflow: visible ;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.flip-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;  
  background-color: rgb(255,240,227);
  outline: 1px solid black;
}

.flip-card.is-flipped .flip-inner {
  transform: rotateX(180deg);
}

.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 10;
}

.flip-front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-front img{
  max-width: 95%;
}

/* BACK (rotated so it appears after flip) */
.flip-back {
  display: grid;
  grid-template-rows: auto auto auto auto;
  transform: rotateX(180deg);
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

}



